@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Light Theme */
        --color-surface: hsl(0 0% 95%);
        --color-surface-alt: hsl(0 0% 90%);
        --color-on-surface: hsl(0 0% 25%);
        --color-on-surface-strong: hsl(0 0% 0%);
        --color-primary: hsl(270 100% 55%);
        --color-on-primary: hsl(0 0% 100%);
        --color-secondary: hsl(215 100% 50%);
        --color-on-secondary: hsl(0 0% 100%);
        --color-outline: hsl(0 0% 87%);
        --color-outline-strong: hsl(0 0% 25%);

        /* Shared Colors */
        --color-info: hsl(188 100% 50%);
        --color-on-info: hsl(0 0% 0%);
        --color-success: hsl(160 84% 39%);
        --color-on-success: hsl(0 0% 100%);
        --color-warning: hsl(45 93% 51%);
        --color-on-warning: hsl(0 0% 0%);
        --color-danger: hsl(354 100% 66%);
        --color-on-danger: hsl(0 0% 100%);

        /* Border Radius */
        --radius-radius: 0.75rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* Dark Theme */
            --color-surface: hsl(240 10% 3.9%);
            --color-surface-alt: hsl(240 10% 9.8%);
            --color-on-surface: hsl(0 0% 89.8%);
            --color-on-surface-strong: hsl(0 0% 97.3%);
            --color-primary: hsl(280 85% 65%);
            --color-on-primary: hsl(0 0% 10%);
            --color-secondary: hsl(217 91% 60%);
            --color-on-secondary: hsl(0 0% 10%);
            --color-outline: hsl(240 5% 26%);
            --color-outline-strong: hsl(0 0% 89.8%);

            /* Shared Colors Dark */
            --color-success: hsl(160 84% 39%);
            --color-on-success: hsl(0 0% 100%);
            --color-warning: hsl(45 93% 51%);
            --color-on-warning: hsl(0 0% 0%);
            --color-danger: hsl(354 100% 66%);
            --color-on-danger: hsl(0 0% 100%);
        }
    }
}

